<div class="main">
    <div class="mainHeader">
        <button type="button" class="sidebarButton">
            <i class="fa-solid fa-wallet fa-2xl"></i>
        </button>
        <p>Tạo phiếu gửi tiền mới</p>
    </div>
    <div class="wrapper">
        <form action="#" id="form" method="POST">
            <div class="citizenIDBox box">
                <label for="citizenID">CMND / CCCD<div class="asterisk" style="color:red;">*</div>:</label> 
                <input type="text" id="citizenID" name="citizenID"
                    placeholder="CMND/CCCD khách hàng" readonly maxlength="12" value="{{DinhDanh}}">
            </div>
            <div class="fullnameBox box">
                <label for="fullname">Họ và tên<div class="asterisk" style="color:red;">*</div>:</label>
                <input type="text" id="fullname" name="fullname" placeholder="Họ tên khách hàng" readonly
                    maxlength="80" value="{{TenNguoiDung}}">
            </div>
            <div class="addressBox box">
                <label for="address">Địa chỉ<div class="asterisk" style="color:red;">*</div>:</label> 
                <input type="text" id="address" name="address" placeholder="Địa chỉ khách hàng " readonly
                    maxlength="80" value="{{DiaChi  }}">
            </div>
            <div class="typeBox box">
                <label for="type">Loại tiết kiệm<div class="asterisk" style="color:red;">*</div>: </label> 
                <input id="type" name="type" placeholder="Chọn loại tiết kiệm" list="choice" autocomplete="off">
                <datalist id="choice">
                    {{#each LoaiTK}}
                    <option value="{{this.KyHan}} ngày - {{this.LaiSuat}}%">
                        {{/each}}
                </datalist>
                <div id="type_warning"></div>
            </div>
            <div class="depositBox box">
                <label for="deposit">Số tiền gửi<div class="asterisk" style="color:red;">*</div>:</label> 
                <input type="number" id="deposit" name="deposit" placeholder="Nhập số tiền gửi" step="500"
                    min={{Params}}>
            </div>
            <div class="typeBox box">
                        <label for="type1">Loại tái tục<div class="asterisk" style="color:red;">*</div>: </label> 
                        <input id="type1" name="type1" placeholder="Chọn loại tái tục" list="choice1" autocomplete="off">
                         <datalist id="choice1">
                            <option value="Tái tục gốc">
                            <option value="Tái tục toàn bộ">
                            <option value="Không tái tục">
                        </datalist>
                        <div id="type_warning"> </div>
                        </div>
            <div id="btn_side">
                <input id="confirmBtn" type="submit" value="Tạo"></input>
                <a href="/home"><button id="gobackBtn" type="button">Quay lại</button></button></a>
            </div>
        </form>
    </div>