<div class="main">
    <div class="mainHeader">
        <button type="button" class="sidebarButton">
            <i class="icon iconSidebar"></i>
        </button>
        <p>Chi tiết phiếu</p>
    </div>
    <div>
        <form action="/passbook/detail/withdraw" id="form" method="POST">
            <input type="number" name="passbookID" value="{{passbookID}}" hidden>
            <div class = "passbookID box">
                <label for="passbookID">Mã phiếu:</label>
                <input type="text" id="passbookID" name="passbookID" value="{{passbookID}}"  maxlength="30" readonly>
            </div>
            <div class = "term box">
                <label for="term">Kỳ hạn áp dụng:</label>
                <input type="text" id="term" name="term" value="{{passbook.KyHanApDung}} ngày" maxlength="30" readonly>
            </div>
            <div class = "interest box">
                <label for="interest">Lãi suất áp dụng:</label>
                <input type="text" id="interest" name="interest" value="{{passbook.LaiSuatApDung}}% " maxlength="30" readonly>
            </div>
            <div class = "depositdate box">
                <label for="depositdate">Ngày gửi:</label>
                <input type="date" id="depositdate" name="depositdate" value ="{{passbook.NgayGui}}" readonly>
            </div>
            <div class = "expdateBox box">
                <label for="expdate">Ngày đáo hạn:</label>
                <input type="date" id="expdate" name="expdate" value ="{{passbook.NgayDaoHan}}" readonly>
            </div>
            <div class = "depositBox box">
                <label for="deposit">Tiền gửi ban đầu:</label>
                <input type="money" id="deposit" name="deposit" step="1" value="{{passbook.TienGui}}"readonly>
            </div>
            <div class = "depositAddBox box">
                <label for="depositAdd">Tiền lãi:</label>
                <input type="money" id="depositAdd" name="depositAdd" step="1" value="{{passbook.TienLai}}"readonly>
            </div>
            <div class = "withdrawBox box">
                <label for="withdraw">Số tiền sẽ rút:</label>
                <input type="money" id="withdraw" name="withdraw" step="1" value="{{withdraw}}"readonly>
            </div>
            <input type="number" id="minDate" name="minDate" value="{{param.NgayRutToiThieu}}" hidden>
            <div id="btn_side">
                <input id="confirmBtn" type="submit" value="Tất toán" formaction="/passbook/detail/withdraw"></input>
                <a href="/passbook"><button id="gobackBtn" type="button"> Quay lại</button> </a>
        </form>
    </div>
</div>